@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

button:hover{
  cursor: pointer;
 

}
.top{
display: flex;
justify-content: space-around;
width: 100%;
height: 100px;
background-color: #FD9255;
}
.homeIcon{
  cursor: pointer;
  width: 70px;
  margin-top: auto;
  margin-bottom: auto;
}
.homeIcon img{
  
  width: 100%;
}
.textNav{
 
  display: flex;
  width:250px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  gap: 25px;
  font-size: 12px;
  color: white;

transition: transform 500ms ease;
}
.text1, .text2, .text3{
  width: 40px;
  margin: auto;
  transition: transform 500ms ease;
}
.text1:hover{
  cursor: pointer;
  transform: scale(1.2);
transition: transform 500ms ease;
}
.titles1{
  margin-top: 150px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-size: x-large;
  color: #06170B;
  transform: scaleX(0);
transform-origin: left;
animation: animate 1s cubic-bezier(1,0,0,0) forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
    
}
  
.titles2{
  position: relative;
  margin: auto;
  margin-bottom: 70px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  line-height: 30px;
  width: 100%;
  height: auto;
  text-align: center;
  color:  #666666;
  transform: scaleX(0);
transform-origin: right;
animation: animate 1s cubic-bezier(1,0,0,0) forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
    
}
.productsContainer{
width: 100%;
margin-left: auto;
margin-right: auto;
}
.productsGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 25px;
  column-gap: 20px;


}
.productBox{
  margin: auto;
}
.product{
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box p{
  text-align: center;
}
.box img{
  
  margin: auto;
  margin-top: 20%;
  margin-bottom: 10%;
  width: 80px;
  height: 80px;
  transition: transform 500ms ease;
  
}
.box img:hover{
  transform: scale(1.2);
  transition: transform 500ms ease;
}
.btnBox{
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  background-color:  #F5F5F5;
  
 
}
.btnBox button{
  width: 40px;
  height: 50px;
  border: none;
  background-color: transparent; 
}
.btnBox p{
  background-color: white;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 90%;
}
.finalBtn{
display:flex ;
margin: auto;
margin-top: 50px;
margin-bottom:50px ;
width: 200px;
height: 50px;
border-radius:5px ;
border: #FD9255 2px solid;
transition: transform 500ms ease;
}
.finalBtn button{
  background-color: transparent;
  border:none;
  width: 100%;

}
.finalBtn:hover{
  transform: scale(1.2);
  transition: transform 500ms ease;
}


.summaryBox{
  width: 100%;
  margin: auto;
  height: auto;
  margin-bottom: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.summaryGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;
  column-gap: 100px;
  padding: 50px;
  background: #F9F9F9;
  padding-bottom: 100px;
}
.TotalBox{
  display: flex;
  width: auto;
  height: auto;
  text-align: left;
  
}
.footerBox{
  background-color: #FD9255;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: smaller;
  color: white;
}
.leftBox{
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;

}
.logo{
display: flex;
width: 100px;
height: 200px;

}
.logo img{
  margin: auto;
  width: 100%;
}
.text4{
  display: flex;
  color: white;
  text-align: left;
  width: 150px;
  height: 200px;
}
.text4 p{
  margin: auto;
}

.iconBox{
  display: flex;
  width: 50px;
  flex-direction: column;
  justify-content: space-around;
}
.iconBorder{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px white solid;
  display: flex;
}
.iconBorder img{
  transition: transform 500ms ease;
  margin: auto;
}
.iconBorder img:hover{
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 500ms ease;
}
.footerGrid{
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
row-gap: 25px;

}
.footerText1, .footerText2, .footerText3{
  height: 25px;
  margin: auto;
}
.footerText1{
  width: 100px;
  text-align: center;
}
.textBox1{
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  width: 100px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footerText2{
  width: 100px;
  text-align: center;
}
.textBox2{
grid-column: 2;
grid-row: 2;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.textBox3{
  text-align: center;

}
.WhatsappBox{
  grid-column: 1/3;
  text-align: center;
  transition: transform 500ms ease;
}
.WhatsappBox:hover{
  cursor: pointer;
  transform: scale(1.2);
transition: transform 500ms ease;
}
@media( min-width: 700px) {
  body{
    min-width: 454px;
  }
  .top{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: #FD9255;
    }
    .textNav{
      display: flex;
      justify-content: space-between;
      width: 600px;
      text-align: center;
      
  
    }
    .text1, .text2, .text3{
      width: 100px;
      text-align: baseline;
      margin: auto;
      transition: transform 500ms ease;
    }
    .text1:hover, .text2 :hover, .text3:hover{
      transform: scale(2.2);
      transition: transform 500ms ease;
    }
  .homeIcon{
    width: 100px;
    height: 100%;
  }
  .productsContainer{
    display: flex;
  flex-direction: column;
  margin: auto;
  }
  .productsGrid{
    margin: auto;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-column-gap: 100px ;
    grid-row-gap: 100px;
    margin-right: 10%;
    margin-left: 10%;
    grid-template: subgrid

  }
  .product{

    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .summaryBox{
  height: auto;
    width: 500px;
  }
  .footerBox{
    display: flex;
    flex-direction: row;
    row-gap:50px ;
  justify-content: center;
    width: 100%;
    height: 460px;
    background-color: #FD9255;
    
  }
  
  .leftBox{
   color: white;
   width: 200px;
   height: auto;
   display: flex;
   flex-direction: column;
   margin-left: 5%;
   justify-content: unset;
  }
  .logo{
    margin-top: 30px;
    display: flex;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
  }
  .logo img{
    margin: auto;
    width: 100px;
    height: 100px;
  }
  .text4{
    text-align: justify;
    font-size: small;
    line-height: 25px;
    width: 200px;
    height: 100px;
   margin-bottom: 50px;
  }
  .iconBox{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;  
  }
  .iconBorder img{
    margin: auto;
  }

  .footerGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-row-gap: 20px;
    grid-column-gap: 15px;
  margin-top: 30px;
  margin-right: 5%;
  margin-left: 5%;
  
  color: white;
  }
  .footerText1, .footerText3, .footerText2{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 90px;
    width: 90px;
  }
  .footerText1 p, .footerText2 p,.footerText3 p{
    justify-content: center;
    margin: auto;
  }
  .textBox3{
    justify-content: center;
    margin: auto;
    line-height: 40px;
  }

  .WhatsappBox{
    display: flex;
    grid-column: 2;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
  }
  .WhatsappBox img{
    width: 100%;
    
  }
}
