@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


button:hover{
  cursor: pointer;
 

}
.top{
width: 100%;
height: 140px;
background-color: #FD9255;
}
.homeIcon{
  position: absolute;
  left: 15%;
  top: 2%;
  cursor: pointer;

}
.textNav{
  position: relative;
  display: flex;
  justify-content: space-around;
  top: 40%;
  bottom: 40%;
  display: flex;
 color: white;
 font-size: small;
 margin-left: 25%;
 transition: transform 500ms ease;
}
.text1, .text2, .text3,.text4{

  transition: transform 500ms ease;
}
.text1:hover{
  cursor: pointer;
  transform: scale(2.2);
transition: transform 500ms ease;
}
.titles1{
  margin-top: 150px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-size: x-large;
  color: #06170B;
}
.titles2{
  position: relative;
  margin: auto;
  margin-bottom: 70px;
  padding-top: 10px;
  font-size: medium;
  line-height: 30px;
  width: 450px;
  height: auto;
  text-align: center;
  color:  #666666;
}
.productsContainer{
  display: flex;
  flex-direction: column;
  margin: auto;

}
.productsGrid{
  margin: auto;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-column-gap: 100px ;
  grid-row-gap: 100px;
  margin-right: 10%;
  margin-left: 10%;
  grid-template: subgrid
 

}
.product{

  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box p{
  text-align: center;
}
.box img{
  
  margin: auto;
  margin-top: 20%;
  margin-bottom: 10%;
  width: 80px;
  height: 80px;
  transition: transform 500ms ease;
  
}
.box img:hover{
  transform: scale(1.2);
  transition: transform 500ms ease;
}
.btnBox{
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  background-color:  #F5F5F5;
  
 
}
.btnBox button{
  width: 40px;
  height: 50px;
  border: none;
  background-color: transparent; 
}
.btnBox p{
  background-color: white;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 90%;
}
.finalBtn{
display:flex ;
margin: auto;
margin-top: 50px;
margin-bottom:50px ;
width: 200px;
height: 50px;
border-radius:5px ;
border: #FD9255 2px solid;
transition: transform 500ms ease;
}
.finalBtn button{
  background-color: transparent;
  border:none;
  width: 100%;

}
.finalBtn:hover{
  transform: scale(1.2);
  transition: transform 500ms ease;
}


.summaryBox{
  width: 450px;
  margin: auto;
  height: 300px;
  margin-bottom: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.summaryGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;
  column-gap: 100px;
  padding: 50px;
  background: #F9F9F9;
}
.TotalBox{
  display: flex;
  width: auto;
  height: auto;
  text-align: left;
  
}
.footerBox{
  display: flex;
  flex-direction: row;
  row-gap:50px ;
justify-content: center;
  width: 100%;
  height: 400px;
  background-color: #FD9255;
  
}

.leftBox{
 color: white;

 width: 200px;
 height: auto;
 display: flex;
 flex-direction: column;
 row-gap: 50px;
 margin-left: 5%;
}
.logo{
  display: flex;
  width: 200px;
  height: 90px;
}
.logo img{
  margin-top: 50px;
  width: 50px;
  height: 50px;
}
.text4{
  text-align: justify;
  font-size: small;
  line-height: 25px;
  padding-top: 5px;
  width: 200px;
 
}
.footerGrid{

  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-row-gap: 40px;
  grid-column-gap: 15px;
margin-right: 5%;
margin-left: 5%;
color: white;
}
.Text1{
  position: relative;
  top: 50px;
  height: 90px;
  width: 90px;
}
.Text2{
  position: relative;
  top: 50px;
  height: 90px;
  width: 100px;
}
.textBox2{
  background-color: #666666;
  font-size: small;
  line-height: 25px;
}
.textBox1{
  line-height: 50px;
  font-size: small;
  height: 170px;
  grid-row: 2/3;

}
.textBox3{
  width: 200px;
  font-size: small;
  line-height: 50px;
}
.WhatsappBox{
  position: relative;
  bottom: 30px;
  width: 150px;
  grid-column: 3;
  margin-bottom: 50px;
}
.WhatsappBox img{
  width: 100%;
  
}
@media( max-width: 769px) {
  body{

width: 100vh;
  }
  
    
  
}
